# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Node dependencies (for frontend later)
node_modules/

# Build folders
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

#os junk files
.DS_Store
Thumbs.db